*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  html {
    scroll-behavior: initial;
  }
}
header {
  .header-wrapper {
    margin-block: 24px;
    margin-inline: 32px;
    .login {
      display: flex;
      flex-direction: row-reverse;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 1rem;
      }
    }
  }
  .header-top {
    display: flex;
    justify-content: center;
    .img {
      justify-content: center;
    }
  }
  nav {
    .main-nav {
      margin-top: 3rem;
      display: flex;
      justify-content: center;

      .main-category {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 1rem;
        position: relative;

        .li-main-category:hover {
          .nav001 {
            display: block;
            animation: fade-in ease-in-out 300ms;
          }
        }

        .li-nav001:hover {
          .nav002 {
            display: block;
            animation: fade-in ease-in-out 300ms;
          }
        }

        .nav001 {
          display: none;
          margin: 0;
          padding: 0;
          list-style: none;
          position: absolute;
          background-color: rgb(179, 179, 179);
          width: 200px;
          color: white;
        }
        .nav002 {
          display: none;
          margin: 0;
          padding: 0;
          list-style: none;
          position: absolute;
          background-color: rgb(179, 179, 179);
          z-index: 0;
          top: 0;
          translate: 200px;
          width: 200px;
          height: 100%;
          color: white;
        }
      }
    }
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
