@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin,latin-ext);
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
  html {
    scroll-behavior: initial;
  }
}
body {
  overflow: hidden;
  font-family: "Lato", sans-serif;
}

header .header-wrapper {
  margin-block: 24px;
  margin-inline: 32px;
}
header .header-wrapper .login {
  display: flex;
  flex-direction: row-reverse;
}
header .header-wrapper .login ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  cursor: pointer;
}
header .header-wrapper .login ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  border-radius: 99vh;
}
header .header-wrapper .login ul li button {
  width: 100%;
  height: 100%;
  border-radius: 99vh;
  background-color: rgb(185, 9, 9);
  color: white;
  border: 0;
  outline: 0;
}
header .header-wrapper .login ul li button:hover {
  background-color: rgba(185, 9, 9, 0.5);
  cursor: pointer;
  transition: 300ms ease-in-out;
}
header .header-top {
  display: flex;
  justify-content: space-between;
}
header .header-top .img {
  justify-content: center;
}
header nav .main-nav {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
header nav .main-nav .main-category {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 5rem;
  position: relative;
  font-size: 20px;
}
header nav .main-nav .main-category .li-main-category:hover {
  cursor: pointer;
}
header nav .main-nav .main-category .li-main-category:hover .nav001 {
  display: block;
  -webkit-animation: fade-in ease-in-out 300ms;
          animation: fade-in ease-in-out 300ms;
  cursor: pointer;
}
header nav .main-nav .main-category .li-nav001:hover {
  -webkit-animation: fade-in ease-in 200ms;
          animation: fade-in ease-in 200ms;
  background-color: rgb(85, 85, 85);
}
header nav .main-nav .main-category .li-nav001:hover .nav002 {
  display: block;
  -webkit-animation: fade-in ease-in-out 300ms;
          animation: fade-in ease-in-out 300ms;
}
header nav .main-nav .main-category .li-nav002:hover {
  -webkit-animation: fade-in ease-in 200ms;
          animation: fade-in ease-in 200ms;
  background-color: rgb(85, 85, 85);
}
header nav .main-nav .main-category .li-nav002:hover .nav003 {
  display: block;
  -webkit-animation: fade-in ease-in-out 300ms;
          animation: fade-in ease-in-out 300ms;
}
header nav .main-nav .main-category .li-nav003:hover {
  -webkit-animation: fade-in ease-in 200ms;
          animation: fade-in ease-in 200ms;
  background-color: rgb(85, 85, 85);
}
header nav .main-nav .main-category .li-nav003:hover .nav004 {
  display: block;
  -webkit-animation: fade-in ease-in-out 300ms;
          animation: fade-in ease-in-out 300ms;
}
header nav .main-nav .main-category .li-nav004:hover {
  -webkit-animation: fade-in ease-in 200ms;
          animation: fade-in ease-in 200ms;
  background-color: rgb(85, 85, 85);
}
header nav .main-nav .main-category .li-nav004:hover .nav005 {
  display: block;
  -webkit-animation: fade-in ease-in 300ms;
          animation: fade-in ease-in 300ms;
}
header nav .main-nav .main-category .li-nav005:hover {
  background-color: rgb(85, 85, 85);
  -webkit-animation: fade-in ease-in 200ms;
          animation: fade-in ease-in 200ms;
}
header nav .main-nav .main-category .li-nav005:hover .nav006 {
  display: block;
  -webkit-animation: fade-in ease-in-out 300ms;
          animation: fade-in ease-in-out 300ms;
}
header nav .main-nav .main-category .nav001 {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  background-color: rgb(41, 38, 38);
  width: 200px;
  color: white;
}
header nav .main-nav .main-category .nav002 {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  background-color: rgb(41, 38, 38);
  z-index: 0;
  top: 0;
  translate: 200px;
  width: 200px;
  height: 100%;
  color: white;
}
header nav .main-nav .main-category .nav003 {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  background-color: rgb(41, 38, 38);
  z-index: 0;
  top: 0;
  translate: 200px;
  width: 200px;
  height: 100%;
  color: white;
}
header nav .main-nav .main-category .nav004 {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  background-color: rgb(41, 38, 38);
  z-index: 0;
  top: 0;
  translate: 200px;
  width: 200px;
  height: 100%;
  color: white;
}
header nav .main-nav .main-category .nav005 {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  background-color: rgb(41, 38, 38);
  z-index: 0;
  top: 0;
  translate: 200px;
  width: 200px;
  height: 100%;
  color: white;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.hero {
  width: 100%;
  height: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.categories .wrapper {
  margin-block: 24px;
  margin-inline: 32px;
}
.categories .grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 200px);
  gap: 1rem;
}
.categories .grid-container .grid-box {
  grid-column: span 2;
  padding: 24px 16px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  color: white;
  background-blend-mode: darken;
  text-transform: uppercase;
}
.categories .grid-container .grid-box-span-1 {
  grid-column: span 1;
  padding: 24px 16px;
  background-color: rgb(185, 9, 9);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  color: white;
  background-blend-mode: darken;
  text-transform: uppercase;
}
.categories .grid-container .auto {
  background-image: url(/images/Auto.webp);
  background-color: rgba(0, 0, 0, 0.5);
}
.categories .grid-container .auto:hover {
  background-color: rgb(255, 255, 255);
  transition: 300ms;
  cursor: pointer;
}
.categories .grid-container .dla-domu {
  background-image: url(/images/dla-domu.webp);
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
}
.categories .grid-container .dla-domu:hover {
  background-color: rgb(255, 255, 255);
  transition: 300ms;
  cursor: pointer;
}
.categories .grid-container .horeca {
  background-image: url(/images/horeca.webp);
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
}
.categories .grid-container .horeca:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 300ms;
}
.categories .grid-container .przemysł-agro {
  background-image: url(/images/przemysł-agro.webp);
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
}
.categories .grid-container .przemysł-agro:hover {
  background-color: rgb(255, 255, 255);
  transition: 300ms;
  cursor: pointer;
}
.categories .grid-container .medycyna-laboratoria {
  background-image: url(/images/lab.webp);
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
}
.categories .grid-container .medycyna-laboratoria:hover {
  background-color: rgb(255, 255, 255);
  transition: 300ms;
  cursor: pointer;
}
.categories .grid-container .placówki-edukacyjne {
  background-image: url(/images/school.webp);
  background-color: rgba(0, 0, 0, 0.5);
  background-position: top;
}
.categories .grid-container .placówki-edukacyjne:hover {
  background-color: rgb(255, 255, 255);
  transition: 300ms;
  cursor: pointer;
}
.categories .grid-container .placówki-sportowe {
  background-image: url(/images/gym.webp);
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
}
.categories .grid-container .placówki-sportowe:hover {
  background-color: rgb(255, 255, 255);
  transition: 300ms;
  cursor: pointer;
}
.categories .grid-container .placówki-edukacyjne:hover {
  background-color: rgb(255, 255, 255);
  transition: 300ms;
  cursor: pointer;
}
.categories .grid-container .firmy-sprzątające {
  background-image: url(/images/cleaning-industry.webp);
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
}
.categories .grid-container .firmy-sprzątające:hover {
  background-color: rgb(255, 255, 255);
  transition: 300ms;
  cursor: pointer;
}
.categories .grid-container .nasze-marki {
  background-image: url(/images/Nasze\ Marki.png);
  background-color: rgba(0, 0, 0, 0.5);
}
.categories .grid-container .nasze-marki:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 300ms;
}
.categories .grid-container .sklep-internetowy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(146, 8, 8);
}
.categories .grid-container .sklep-internetowy svg {
  width: 150px;
  height: 150px;
}
.categories .grid-container .sklep-internetowy:hover {
  transition: 300ms;
  color: black;
  background-color: white;
  cursor: pointer;
}

.news {
  background-color: rgb(41, 38, 38);
}
.news .wrapper {
  padding-block: 48px;
  margin-block: 64px;
  margin-inline: 32px;
}
.news .wrapper header h3 {
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(177, 174, 174);
  color: white;
}
.news .wrapper .article-container {
  display: flex;
  gap: 1rem;
  margin-top: 4rem;
}
.news .wrapper .article-container article {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgb(177, 174, 174);
  color: white;
}
.news .wrapper .article-container article .date {
  color: rgb(185, 9, 9);
}

.product-presentation .wrapper {
  display: flex;
  justify-content: space-around;
  margin-block: 64px;
  margin-inline: 32px;
}
.product-presentation .wrapper header h3 {
  font-size: 56px;
  font-weight: bold;
  width: 540px;
}

.product-presentation::before {
  content: "";
  background-image: url(/images/symbol_bg2.png);
  width: 100%;
  height: 100%;
}

.layer4 {
  background-color: rgb(41, 38, 38);
}
.layer4 .wrapper {
  margin-top: 64px;
  margin-inline: 32px;
  padding-block: 48px;
  text-align: center;
}
.layer4 .wrapper header {
  padding-block: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.layer4 .wrapper header h4 {
  font-size: 36px;
  color: white;
  font-weight: 400;
}
.layer4 .wrapper p {
  color: white;
  margin-bottom: 48px;
}
.layer4 .wrapper button {
  height: 50px;
  width: 200px;
  background-color: rgb(185, 9, 9);
  color: white;
  border-radius: 99vh;
  border: 0;
  outline: 0;
}
.layer4 .wrapper button:hover {
  background-color: rgba(185, 9, 9, 0.5);
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.map {
  margin-block: 0;
  padding: 0;
}

.newsletter .wrapper {
  margin-block: 64px;
  margin-inline: 32px;
  padding-block: 48px;
  text-align: center;
}
.newsletter .wrapper input {
  width: 500px;
  height: 50px;
  border: 0;
  outline: 0;
  background-color: rgb(85, 85, 85);
  padding-left: 16px;
  color: white;
}
.newsletter .wrapper input::-moz-placeholder {
  color: white;
}
.newsletter .wrapper input:-ms-input-placeholder {
  color: white;
}
.newsletter .wrapper input::placeholder {
  color: white;
}
.newsletter .wrapper button {
  height: 50px;
  width: 200px;
  background-color: rgb(185, 9, 9);
  color: white;
  border-radius: 99vh;
  border: 0;
  outline: 0;
}
.newsletter .wrapper header {
  margin-bottom: 64px;
}
.newsletter .wrapper header h4 {
  font-size: 36px;
}
.newsletter .wrapper header p {
  color: rgb(185, 9, 9);
}

footer .wrapper {
  padding-block: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: rgb(41, 38, 38);
  color: white;
}
footer .wrapper .nav-footer ul {
  padding-block: 32px;
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}
footer .wrapper .sc-footer {
  display: flex;
  gap: 1rem;
}
footer .wrapper .sc-footer .sc-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(185, 9, 9);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .wrapper .sc-footer .sc-icon img {
  width: 30px;
  height: 30px;
}
footer .wrapper .sc-footer .sc-icon:hover {
  background-color: rgba(185, 9, 9, 0.5);
  cursor: pointer;
  transition: 300ms ease-in-out;
}
footer .copyright {
  background-color: rgb(85, 85, 85);
}
footer .copyright .wrapper {
  margin-inline: 32px;
  padding-block: 48px;
  background-color: rgb(85, 85, 85);
}
footer .copyright p {
  margin: 0;
  color: white;
}
footer .copyright p a {
  text-decoration: none;
  color: black;
}

button:hover {
  background-color: rgba(73, 79, 131, 0.5);
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */