*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
  html {
    scroll-behavior: initial;
  }
}
header .header-wrapper {
  margin-block: 24px;
  margin-inline: 32px;
}
header .header-wrapper .login {
  display: flex;
  flex-direction: row-reverse;
}
header .header-wrapper .login ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  cursor: pointer;
}
header .header-wrapper .login ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  background-color: rgb(185, 9, 9);
  color: white;
  border-radius: 99vh;
}
header .header-top {
  display: flex;
  justify-content: space-between;
}
header .header-top .img {
  justify-content: center;
}
header nav .main-nav {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
header nav .main-nav .main-category {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 5rem;
  position: relative;
}
header nav .main-nav .main-category .li-main-category:hover {
  cursor: pointer;
}
header nav .main-nav .main-category .li-main-category:hover .nav001 {
  display: block;
  -webkit-animation: fade-in ease-in-out 300ms;
          animation: fade-in ease-in-out 300ms;
  cursor: pointer;
}
header nav .main-nav .main-category .li-nav001:hover .nav002 {
  display: block;
  -webkit-animation: fade-in ease-in-out 300ms;
          animation: fade-in ease-in-out 300ms;
}
header nav .main-nav .main-category .li-nav002:hover .nav003 {
  display: block;
  -webkit-animation: fade-in ease-in-out 300ms;
          animation: fade-in ease-in-out 300ms;
}
header nav .main-nav .main-category .li-nav003:hover .nav004 {
  display: block;
  -webkit-animation: fade-in ease-in-out 300ms;
          animation: fade-in ease-in-out 300ms;
}
header nav .main-nav .main-category .nav001 {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  background-color: rgb(104, 100, 100);
  width: 200px;
  color: white;
}
header nav .main-nav .main-category .nav002 {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  background-color: rgb(104, 100, 100);
  z-index: 0;
  top: 0;
  translate: 200px;
  width: 200px;
  height: 100%;
  color: white;
}
header nav .main-nav .main-category .nav003 {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  background-color: rgb(104, 100, 100);
  z-index: 0;
  top: 0;
  translate: 200px;
  width: 200px;
  height: 100%;
  color: white;
}
header nav .main-nav .main-category .nav004 {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  background-color: rgb(104, 100, 100);
  z-index: 0;
  top: 0;
  translate: 200px;
  width: 200px;
  height: 100%;
  color: white;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.hero {
  background-image: url(https://www.jax.com.pl/images/baner_podstrona.jpg);
  width: 100%;
  height: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.categories .wrapper {
  margin-block: 24px;
  margin-inline: 32px;
}
.categories .grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 150px);
  gap: 1rem;
}
.categories .grid-container .grid-box {
  grid-column: span 2;
  padding: 24px 16px;
  background-color: rgb(185, 9, 9);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.categories .grid-container .grid-box-span-1 {
  -moz-column-span: 1;
       column-span: 1;
  padding: 24px 16px;
  background-color: rgb(185, 9, 9);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}/*# sourceMappingURL=styles.css.map */