.products {
  .wrapper {
    margin: 24px 32px;
  }
}
.product-box:hover {
  box-shadow: 0px 0px 30px -10px;
}

.product-box:hover > *:not(.cart-icon) {
  scale: 0.9;
  transition: 400ms;
}
.product-box {
  display: flex;
  flex-direction: column;
}

.product-info {
  padding: 16px 16px 0px 16px;

  h2 {
    font-size: 16px;
    font-weight: 400;
  }
  p {
    font-size: 12px;
  }
}
.cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-left: auto;
  width: 40px;
  height: 40px;
  background-color: black;
  i {
    color: white;
  }
}

@media (min-width: 900px) {
  .product-box:hover {
    box-shadow: 0px 0px 30px -10px;
  }

  .product-box:hover > *:not(.cart-icon) {
    scale: 0.9;
    transition: 400ms;
  }
}
