.utility-mobile {
  background-color: rgb(41, 38, 38);
  @media (min-width: 900px) {
    display: none;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block: 24px;
    margin: 16px 24px;
    .search-bar {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgb(255, 255, 255, 0.2);
      border-radius: 5px;
      backdrop-filter: blur(5px) saturate;

      input {
        margin-left: 1rem;
        height: 50px;
        width: 100%;
        background-color: transparent;
        outline: 0;
        border: 0;
      }
      input::placeholder {
        color: white;
      }
      button {
        background-color: transparent;
        outline: 0;
        border: 0;
        color: white;
        margin-right: 1rem;
      }
    }
    .flex {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 0.5rem;
      width: 100%;
    }
    @media (max-width: 395px) {
      .flex {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.view,
.sort,
.options-filters {
  p {
    margin: 0;
    color: white;
    text-transform: uppercase;
  }
  @media (min-width: 900px) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1rem;
  }
}

.view-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: max-content;
  color: white;
  .view-type {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border: 0;
    outline: 0;
    background-color: rgb(255, 255, 255, 0.2);
    color: white;

    @media (min-width: 900px) {
      display: flex;
      width: 75px;
    }
  }
  .view-type:nth-of-type(2) {
    border-left: 1px solid rgba(255, 255, 255, 0.205);
    border-right: 1px solid rgba(255, 255, 255, 0.205);
  }
}
.sort-bar {
  width: 100%;
  padding-inline: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: max-content;
  color: white;
  border: 0;
  outline: 0;
  background-color: rgb(255, 255, 255, 0.2);

  i {
    padding-right: 12px;
  }
}
.sort-container {
  display: none;
}
.sort-container.active {
  display: block;
  width: 100%;
  height: 80%;
  background-color: rgb(41, 38, 38);
  position: absolute;
  left: 0;
  right: 0;
  ul {
    margin-top: 3rem;
    list-style: none;
    color: white;
    text-transform: uppercase;
    li {
      padding: 1rem;
      border-bottom: 1px solid white;
    }
  }
  @media (min-width: 900px) {
    display: none;
  }
}
.options-filters {
  min-width: max-content;
  padding-inline: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.2);
  height: 40px;
  color: white;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  background-color: rgb(255, 255, 255, 0.2);
  @media (min-width: 900px) {
    display: flex;
    width: 200px;
  }
  i {
    padding-right: 12px;
  }
}
.page-navigation {
  padding-inline: 12px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.2);
  height: 40px;
  width: 100%;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  button {
    padding: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    text-transform: uppercase;
    color: white;
  }
  .one-chervron {
    padding-inline: 6px;
    display: flex;
  }
  .two-chevron {
    padding-inline: 6px;
    display: flex;
  }
  .search-btn {
    padding-inline: 12px;
  }
  p {
    margin: 0;
    padding-inline: 12px;
  }
}
.show-page-number-of {
  color: white;
  text-transform: uppercase;
}
@media (min-width: 900px) {
}

.products {
  .wrapper {
    margin: 24px 32px;
  }
}
.product-box:hover {
  box-shadow: 0px 0px 30px -10px;
}

.product-box:hover > *:not(.cart-icon) {
  scale: 0.9;
  transition: 400ms;
}
.product-box {
  display: flex;
  flex-direction: column;
}

.product-info {
  padding: 16px 16px 0px 16px;

  h2 {
    font-size: 16px;
    font-weight: 400;
  }
  p {
    font-size: 12px;
  }
}
.cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-left: auto;
  width: 40px;
  height: 40px;
  background-color: black;
  i {
    color: white;
  }
}

@media (min-width: 900px) {
  .product-box:hover {
    box-shadow: 0px 0px 30px -10px;
  }

  .product-box:hover > *:not(.cart-icon) {
    scale: 0.9;
    transition: 400ms;
  }
}

//Utility section desktop
.category-top {
  display: flex;
  align-items: center;
  grid-area: Top;

  .search-bar {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    backdrop-filter: blur(5px) saturate;

    input {
      margin-left: 1rem;
      height: 50px;
      width: 100%;
      background-color: transparent;
      outline: 0;
      border: 0;
    }
    input::placeholder {
      color: black;
    }
    button {
      background-color: transparent;
      outline: 0;
      border: 0;
      color: black;
      margin-right: 1rem;
    }
  }
}
.sort {
  margin-left: 1rem;
  height: 50px;
  .category-list {
    padding-inline: 1rem;
    height: 100%;
    border-radius: 5px;
    border: 1px solid black;
  }
}
.input-range-inputs {
  display: flex;
  gap: 3rem;
  input {
    outline: 0;
    border: 1px solid black;
    border-radius: 5px;
  }
}
.price {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.slider-container {
  .slider {
    height: 5px;
    background-color: #ddd;
    border-radius: 5px;
    position: relative;
    .progress {
      height: 5px;
      left: 25%;
      right: 25%;
      position: absolute;
      border-radius: 5px;
      background: red;
    }
  }
}
.input-range-slider {
  position: relative;
  input {
    position: absolute;
    top: -5px;
    height: 5px;
    width: 100%;
    background: none;
    -webkit-appearance: none;
    pointer-events: none;
  }
}
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  -webkit-appearance: none;
  pointer-events: auto;
  background-color: red;
}
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  -moz-appearance: none;
  pointer-events: auto;
  background-color: red;
}
.category-left {
  grid-area: Left;
  height: 100vh;
}
.products-container {
  grid-area: center;
}

.category-left {
  height: 100%;
}
.category-top {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-areas:
    "Top Top Top"
    "Left center center"
    "Left center center"
    "Left center center";
  @media (max-width: 900px) {
    display: block;
  }
}
.filter-header {
  margin-block: 2rem;
}
.checkbox-container {
  padding-block: 1rem;
}

.category-top,
.category-left {
  width: 100%;
  height: 200px;
  @media (max-width: 900px) {
    display: none;
  }
}
