.utility {
  background-color: rgb(41, 38, 38);
  .wrapper {
    display: flex;
    justify-content: center;
    padding-block: 24px;
    margin: 24px 32px;
  }
}
.search-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: gray;

  input {
    margin-left: 1rem;
    height: 50px;
    width: 100%;
    background-color: transparent;
    outline: 0;
    border: 0;
  }
  input::placeholder {
    color: white;
  }
  button {
    background-color: transparent;
    outline: 0;
    border: 0;
    color: white;
    margin-right: 1rem;
  }
}

.products {
  .wrapper {
    margin: 24px 32px;
  }
}
.product-box:hover {
  box-shadow: 0px 0px 30px -10px;
}

.product-box:hover > *:not(.cart-icon) {
  scale: 0.9;
  transition: 400ms;
}
.product-box {
  display: flex;
  flex-direction: column;
}

.product-info {
  padding: 16px 16px 0px 16px;

  h2 {
    font-size: 16px;
    font-weight: 400;
  }
  p {
    font-size: 12px;
  }
}
.cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-left: auto;
  width: 40px;
  height: 40px;
  background-color: black;
  i {
    color: white;
  }
}

@media (min-width: 900px) {
  .product-box:hover {
    box-shadow: 0px 0px 30px -10px;
  }

  .product-box:hover > *:not(.cart-icon) {
    scale: 0.9;
    transition: 400ms;
  }
}
