$colormask: rgba(0, 0, 0, 0.5);
$colormaskhover: rgba(255, 255, 255, 1);
$white: white;
$background-grid: rgb(146, 8, 8);
$section_background_primary: rgb(41, 38, 38);
$paragraph_text_secondary: rgb(185, 9, 9);
$button_bg_color: rgb(185, 9, 9);
$button_hover: rgba(185, 9, 9, 0.5);
$text-input-color: rgb(85, 85, 85);
